In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [2]:
df = pd.read_csv('/Users/joshuarkarnad/Desktop/Thinkful/Final Capstone/Data/mls_salaries.csv')

In [3]:
df = df[df['position'] != 'GK']
df.head()

,season,club_grouped,club,first_name,last_name,position,total_compensation,base_salary
0,2018,TFC,TOR,Sebastian,Giovinco,F,"$7,115,556","$5,600,000"
1,2018,TFC,TOR,Michael,Bradley,M,"$6,500,000","$6,000,000"
2,2018,LAFC,LAFC,Carlos,Vela,F,"$6,292,500","$4,500,000"
3,2018,CHI,CHI,Bastian,Schweinsteiger,M,"$6,100,000","$6,100,000"
4,2018,LAG,LA,Giovani,dos Santos,F,"$6,000,000","$4,250,000"

In [4]:
import re
def name_cleaner(name):
    name = name.lower()
    name = re.sub('"[^"]+"', '', name)
    name = re.sub("'[^']+'", '', name)    
    name = name.strip()
    name = name.replace(' ','-')
    return name

In [5]:
df = df.dropna()
df[df['first_name'].str.contains(" ")]
df['first_name_cleaned'] = df['first_name'].map(name_cleaner)
df['last_name_cleaned'] = df['last_name'].map(name_cleaner)

In [6]:
df[['first_name_cleaned', 'last_name_cleaned']].head(25)

   first_name_cleaned last_name_cleaned
0           sebastian          giovinco
1             michael           bradley
2              carlos              vela
3             bastian    schweinsteiger
4             giovani        dos-santos
5               david             villa
6                jozy          altidore
7             ignacio            piatti
9               diego            valeri
10            nicolas           lodeiro
11             miguel           almiron
12               yura         movsisyan
13               maxi           moralez
14           jonathan        dos-santos
15            fanendo               adi
16            nemanja           nikolic
17             romain      alessandrini
18              borek            dockal
19           shkelzen             gashi
20             darwin          quintero
21             felipe         gutierrez
22              clint           dempsey
23            bradley   wright-phillips
24             victor           vazquez
25             zlatan       ibrahimovic

In [7]:
df['urls'] = 'https://www.mlssoccer.com/players/' + df['first_name_cleaned']+'-'+df['last_name_cleaned']

In [8]:
urls = df[['urls', 'first_name', 'last_name']].drop_duplicates()

In [9]:
len(df['urls'])

5524

In [10]:
len(urls)

2044

In [11]:
urls.head()

,urls,first_name,last_name
0,https://www.mlssoccer.com/players/sebastian-gi...,Sebastian,Giovinco
1,https://www.mlssoccer.com/players/michael-bradley,Michael,Bradley
2,https://www.mlssoccer.com/players/carlos-vela,Carlos,Vela
3,https://www.mlssoccer.com/players/bastian-schw...,Bastian,Schweinsteiger
4,https://www.mlssoccer.com/players/giovani-dos-...,Giovani,dos Santos

In [12]:
urls.to_csv('/Users/joshuarkarnad/Desktop/Thinkful/Final Capstone/Data/urls.csv')

In [16]:
df.to_csv('salaries.csv', index = False)